#main-menu { margin: 2em 0 2em 3em; }

#main-left-side { margin: 0 2em 0 3em; }

#main-right-side { margin: 0 0 0 3em; }

#home-page-header { margin: 2em 0 0 3em; }

#blogs-page-header { margin: 2em 0 0 3em; }

#about-page-header { margin: 2em 0 0 3em; }